@import "../../assets/scss/config";

.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  a {
    margin: 10px;
  }
}
img {
  position: absolute;
  width: 150px;
  height: auto;
  border-radius: 20px;
}

.navButton {
  @include buttonSelect;
}

.noActive {
  @include buttonSave;
}
