@import "../../assets/scss/config";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;

  .titleCreate {
    h1 {
      color: whitesmoke;
      position: absolute;
      font-size: 30px;
      left: 8%;
      top: 23%;
      writing-mode: vertical-rl;
    }

    h2 {
      color: $primary;
      position: absolute;
      left: 5%;
      top: 20%;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 10px;

  .formContainer {
    @include cellContainer;

    label {
      @include cellContainerLabel;
    }

    input {
      @include cellInput;
      // min-width: 80%;

      // margin: 10px;
      // transition: box-shadow 0.3s;

      &:focus {
        @include cellInputFocus;
      }

      &.filled {
        @include cellInputBoxshadow;
      }

      &.filled + label {
        @include cellInputTransition;
      }
    }
  }
}

.inputContainer {
  margin-bottom: 15px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px 0px 30px;
  border: 3px solid white;
  border-radius: 10px;
}

.buttonSave {
  margin-top: 20px;
  @include buttonSave;

  &::before {
    @include buttonBefore;
  }

  &:hover {
    color: #e8e8e8;

    &::before {
      width: 100%;
    }
  }
}
.dropdown {
  margin: 20px 0px 30px 0px;
  @include cellInput;
  .Dropdown-control {
    border: none;
    background: transparent;
    cursor: pointer;
  }
}
.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #ae1515;
}

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #ae1515;
}
.Dropdown-menu {
  background-color: #e8e8e8;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}
