.TitleEmployees {
    margin-bottom: 20px;
    h1 {
      color: whitesmoke;
    
      font-size: 30px;
      left: 8%;
      top: 23%;
   
    }

    h2 {
      color: $primary;
      left: 5%;
      top: 20%;
    }
  }